 /* google fonts */

 
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/*----------- top banner part------------- */
.top-banner{
   background-color: #2D25A0;
   color: white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding-top: 100px;
   margin-bottom: 30px;
}
.tournament-name{
    font-size: 25px;
}
.tournament-name a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 3px 7px;
    border-radius: 5px;
}
.tournament-name a:hover{
    background-color: seagreen;
    transition: background-color 1s;
}
.banner-image img{
    width: 500px;
    height: 400px;
}
/*---------- players part-------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-row-gap: 30px;
    grid-column-gap: 5px;
    margin-left:60px;
    margin-bottom: 40px;
}
.player{
    width: 240px;
    height: 380px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    box-shadow: 5px 5px 3px whitesmoke ;
    margin-left: 20px;
}
.player-image img{
    width: 90%;
    padding-left:  10px;
    padding-right:  10px;
}
.player-detail{
    padding-left: 10px ;
}
p{
    color: grey;
}

/* ---------final match part -------------*/
.final-match {
    display: flex;
}
.final-match-title{
    color: tomato;
    margin-left: 30px;
    font-size: 25px;
}
.result-info{
    border: 1px solid whitesmoke;
    box-shadow:  5px 5px 5px 3px whitesmoke ;
    width: 400px;
    height: 420px;
    margin-left: 50px;
}
.result-info img{
    width: 100%;
}

/* footer styles */
footer{
    margin-top: 50px;
    text-align: center;
}
.footer-part img{
    width: 200px;
}
.fab{
    margin-right: 5px;

}
#copyright{
    font-size: 10px;
}
 /* ----------media queries----------- */
 
 /* ---------top banner media queries------- */
@media screen and (max-width:680px) {
    .top-banner{
        flex-direction: column;
        padding-top: 50px;
    }
    .banner-image img{
        width: 100%;
    }
}

/*--------- players media query-------- */
@media  screen and  (max-width:680px) {
    .players{
        grid-template-columns: repeat(1, 1fr);

    }
}
@media  screen and  (max-width:680px){
    .final-match{
        flex-direction: column;
        margin-left: 20px;
        padding-left: 10px;
        align-items: center;
       
    }
    .result-info img{
        width: auto;
        
    }
}








